.faircard{
    background: #d0e755;
    background: -webkit-linear-gradient(0deg, #d0e755 0%, #feb5be 100%);
    background: linear-gradient(0deg, #d0e755 0%, #feb5be 100%);
    cursor: pointer;
}
.fairevent{
    background-color: white;
 
}