/* You can add global styles to this file, and also import other style files */


.heading{
    // background: linear-gradient(to right, #5f2c82, #49a09d);
    background: #d7d1de;
    background: -webkit-linear-gradient(0deg, #d7d1de 0%, #7df6a6 100%);
    background: linear-gradient(0deg, #d7d1de 0%, #7df6a6 100%);
}